@import "~normalize.css";

body {
  font-family: "Dongle", sans-serif;

  background: no-repeat;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

.form {
  width: 500px;
}

ul {
  list-style: none;
}

.list-group {
  width: 100%;
}

.list__btn {
  display: block;
  margin-left: auto;
}

.list-group__label {
  position: absolute;
  bottom: 10px;
}

.form {
  padding-bottom: 20px;
}

.search-form {
  padding-bottom: 20px;
}

.delete-modal {
  background: rgb(56, 82, 131);
  padding: 20px;
  color: #fff;
}
