@import "~normalize.css";

body {
  font-family: "Dongle", sans-serif;

  background: no-repeat;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

.form {
  width: 500px;
}

ul {
  list-style: none;
}

.list-group {
  width: 200px;
}

.list__btn {
  margin-left: 20px;
}
